PORT=3000
HOST=0.0.0.0
CORS_ORIGIN=*
ARCHIVE_DATABASE_PATH=./server/data/archive.sqlite
SUI_GRAPHQL_URL=https://graphql.mainnet.sui.io/graphql
SUI_GRPC_URL=https://fullnode.mainnet.sui.io:443
RECONCILE_INTERVAL_MS=3600000
MAX_SSE_CLIENTS=250
# STATIC_DIR=./dist
